body {
background-color: #fffbf0 !important;
color: black !important;
text-align: center !important;
margin: auto 0 !important;
}

#uglyNav {
  background: rgb(24,119,131);
  background: linear-gradient(83deg, rgba(24,119,131,1) 0%, rgba(169,188,188,1) 50%, rgba(239,114,85,1) 100%);
}

#modalH {
  background-color: rgb(24,119,131);
};

#modalB {
  background-color: #fffbf0 !important;
  color: black !important;
};
